body{
    margin: 0;
    padding: 0;
}
#wrapper{
    border: 1px solid black;
    width: 1000px;
    margin: auto;

}
#header{
    height: 70px;
    background-color: rgb(7, 109, 100);
    color: white;
    padding: 20px 30px;
    

}
#navber{
    background-color: teal;
}
#navber ul{
    margin: 0;
    padding: 0;
}
#navber ul li{
    display: inline-block;

}
#navber ul li a{
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    border: 1px solid none;
    color: white;
}
#navber ul li a:hover{
    background-color: rgb(9, 49, 21);
    color: white;
}
#container{
    text-align: justify;
    float: left;
    width: 700px;
    min-height: 500px;
    box-sizing: border-box;
    
    padding: 10px;

}
#container p{
    text-indent: 50px;
}
#sidebar{
    background-color: teal;
    float: right;
    min-height: 500px;
    
    
}
#sidebar ul a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 12px;
}
#footer{
    clear: both;
    background-color: teal;
    padding: 10px;
    color: white;
    text-align: right;
}
@media screen and (max-width : 1020px){
    #wrapper{
        width: 800px;
    }
    #container{
        width: 80%;
    }
    #sidebar{
        width: 18%;
    }
}
@media screen and (max-width : 820px){
    #wrapper{
        width: 500px;
    }
    #container{
        width: 60%;
    }
    #sidebar{
        width: 38%;
    }
}
@media screen and (max-width : 510px){
    #wrapper{
        width: auto;
    }
    #container{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}
